---
import Hero from "../components/layout/Hero.astro";
import CategoryCards from "../components/layout/CategoryCards.astro";
import CategoryMiniCards from "../components/layout/CategoryMiniCards.astro";
import CallToAction from "../components/layout/CallToAction.astro";
import CallContact from "../components/layout/CallContact.astro";
import FeaturedArticles from "../components/layout/FeaturedArticles.astro";
import FrecuentQuestions from "../components/layout/FrecuentQuestions.astro";

import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import Layout from "../layouts/Layout.astro";

const categoryCards = [
  {
    title: "Soporte Técnico",
    text: "Asistencia inmediata...",
    href: "/helpdesk/category/",
  },
  { title: "Documentación", text: "Guías y tutoriales...", href: "/docs" },
  {
    title: "Preguntas Frecuentes",
    text: "Respuestas rápidas...",
    href: "/faq",
  },
  {
    title: "Contacto Directo",
    text: "Habla con un agente...",
    href: "/contacto",
  },
];

const categoryMiniCards = [
  {
    title: "Soporte Técnico",
    text: "Asistencia inmediata...",
    href: "/helpdesk/category/",
  },
  { title: "Documentación", text: "Guías y tutoriales...", href: "/docs" },
  {
    title: "Preguntas Frecuentes",
    text: "Respuestas rápidas...",
    href: "/faq",
  },
  {
    title: "Contacto Directo",
    text: "Habla con un agente...",
    href: "/contacto",
  },
];
---

<Layout>
  <main class="flex-shrink-0">
    <Navbar />

    <Hero
      title="Mantencion de instalaciones"
      subtitle="Estas son las categorías de mantención bajo las cuales puedes consultas los principales artículos disponibles y realizar consultas:"
      extra=""
    />
    <CategoryCards cards={categoryCards} type="1" />
    <CategoryCards cards={categoryMiniCards} type="2" />
    <CallToAction
      text={"¿No esta la categoría que buscas? ingresa una consulta en la mesa telefónica"}
      btnText={"Llamar al 84400"}
      btnUrl={"javascript:;"}
      btnIco={">"}
    />
    <FeaturedArticles />
    <FrecuentQuestions />
    <CallContact />
  </main>
  <Footer />
</Layout>
