.call-contact {
  background-color: #f0e3cf;
  .call-contact-block {
    background-color: $colorPrimary;
    border-radius: 2rem;
  }
  .btn-green {
    color: #fff;
    background-color: #29acb4;
  }
}
