---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<section class="container my-5">
  <div class="row align-items-center">
    <div class="col-12 text-center">
      <h1 class="display-1 fw-bold">¿No encuentras lo que necesitas?</h1>
      <p class="lead">
        Te ayudamos a encontrar una solución a través de nuestra mesa
        telefónica.
      </p>
      <button class="btn btn-pill btn-secondary">Llamar al 84400</button>
    </div>
  </div>
</section>
