---
import Card from '../ui/Card.astro';
const { cards, type } = Astro.props;
---

<section class="container my-5">
  <div class="row g-4">
    {cards.map(card => (
      <Card 
        title={card.title} 
        text={card.text} 
        href={card.href} 
        typeCard = {type}
      />
    ))}
  </div>
</section>
