---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<section class="container my-5">
  <div class="row align-items-center">
    <div class="col-12 text-center">
      <h1 class="display-1 fw-bold">Artículos Destacados</h1>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment 1</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

    <div class="row align-items-center">
    <div class="col-12 text-center">
      <a class="btn btn-link btn-primary">Ver todos</a>
    </div>
  </div>

</section>
