---
import Phone from "lucide-static/icons/Phone.svg";
const { text, btnUrl, btnText = "Ver Todas", btnIco = "" } = Astro.props;
---

<section class="w-100 mt-5 bg-info p-3">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <p class="text-white me-10 pt-4">
        {text}
      </p>
      <a href={btnUrl} class="btn btn-primary rounded-pill">
        {btnText}
        {btnIco && <Phone class="ms-2" size="16" />}
      </a>
    </div>
  </div>
</section>
