---
import CardFeatured from "../../components/ui/CardFeatured.astro";
const { articles } = Astro.props;
const featuredArticles = articles.slice(0, 3);
---

<section class="container my-10 pb-10">
  <div class="row align-items-center my-10">
    <div class="col-12 text-center">
      <h1 class="display-3 text-primary fw-bold">Artículos Destacados</h1>
    </div>
  </div>

  <div class="row g-10">
    {
      featuredArticles.map((article) => (
        <CardFeatured
          title={article.title}
          text={article.content}
          btnUrl={`/helpdesk/articles/${article.slug}/`}
          col={"col-md-4"}
        />
      ))
    }
  </div>

  <div class="row align-items-center my-10">
    <div class="col-12 text-center pt-5">
      <a class="btn btn-link text-primary text-decoration-underline fs-5"
        >Ver todos</a
      >
    </div>
  </div>
</section>
